// seletor { propriedade: valor }
// Seletor Global
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Alan Sans", sans-serif;
  background-color: #0c0c0c;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: rgb(210, 2, 2);
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1.5rem;
  flex-wrap: wrap;

  nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;

    li a {
      color: white;
      text-decoration: none;
      font-weight: 500;
      transition: opacity 0.3s ease;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.logo {
  img {
    width: 10rem;
  }
}

main {
  flex-grow: 1;
  padding: 2.5 rem 1.25rem;
}

.banner {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;

  img {
    max-width: 100%;
    height: auto;
  }
}

.sobre {
  margin-top: 4rem;
  display: flex;
  text-align: center;
  flex-direction: column;

  a {
    text-decoration: none;
    color: rgb(210, 2, 2);
  }
}

.fundo {
    background-image: url(../img/fundo_marvel.jpg) !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    height: 100vh !important; 
    width: 100vw!important;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: clamp(4rem, 10vw, 10rem);
      color: white;
      font-weight: 900;
      text-shadow: 2px 2px 0 black, -2px -2px 0 black;
    }
}

.main-sem-padding {
  padding: 0 !important;
}

.catalogo-filmes {
  h1 {
    text-align: center;
    margin-bottom: 2.5rem;
    color: white;
    font-size: 2.5rem;
  }
}

.lista-filmes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  max-width: 1200px;
  margin:  0 auto;
}

.card {
  background: #141414;
  border-radius: 1rem;
  overflow: hidden;
  transition: all 0.3s ease;
  border: 2px solid #333;
  display: flex;
  flex-direction: column;

  &:hover {
    transform: translate(-10px);
    border-color: rgb(210, 2, 2);
    box-shadow: 0 10px rgba(210, 2, 2, 0.3);
  }
  
  img {
    width: 100%;
    object-fit: cover;
    background-color: #0c0c0c;
    aspect-ratio: 2 / 3;
  }

  h2 {
    color: white;
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    flex-grow: 1;
    min-height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  p {
      font-size: 0.8;
      padding: 0 1rem 1rem;
      font-weight: lighter;
      text-align: center;
  }

  .button {
    background-color: rgb(210, 2, 2);
    color: white;
    border: none;
    padding: 1rem;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease ;
    margin-top: auto;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;

    &:hover {
      color: white;
      background-color: darken(rgb(210, 2, 2), 10%);
    }
  }
}

footer {
  background-color: rgb(210, 2, 2);
  padding: 1.25rem;
  text-align: center;
  margin-top: auto;
  width: 100%;

  h3 {
    font-size: 1rem;
    font-weight: lighter;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  padding: 3rem 1rem;


  h1 {
    text-align: center;
    margin-bottom: 2rem;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
  }

  input {
    width: 100%;
    padding: 1rem;
    font-size: 1.1rem;
    border: 1px solid rgb(210, 2, 2);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }

  a {
    color: rgb(210, 2, 2);
    text-decoration: none;
    text-align: center;
    margin-top: 1rem;
  }

  button {
    background-color: rgb(210, 2, 2);
    color: white;
    border: solid #0c0c0c;
    padding: 1rem;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 4px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    border-radius: 14px;
    cursor: pointer;

    &:hover {
    color: white;
    background-color: darken(rgb(210, 2, 2), 10%);
    transition: 0.4s;
    }
  }
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
  }

  footer {
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
  }
}

