* {
    margin: 0;
    padding: 0;
    box-sizing: 0;

}

header {
    background-color: #b479fc;
}

img {
    width: 150px;
}

.card {
    background-color: #dabbff;
    border: 10px solid #b479fc;
}